
@{ 

    var cervejas = ViewBag.cervejas;
}



<h2 >@ViewBag.Title.</h2>
<h3 class="badge bg-secondary" >@ViewBag.Message</h3>

<form action="/cerveja/salvar" method="post">
    <div class="row">
        <input type="hidden" id=" id" name="id" value="@cervejas.Id" />
        <label for=" nome" class="col-sm-2 col-form-label text-right">Marca:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  id="nome" name="nome" value="@cervejas.Nome" />
        </div>
    </div>


    <div class="row">
        <label for="tipo" class="col-sm-2 col-form-label text-right">Tipo>:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  id="tipo" name="tipo" value="@cervejas.Tipo" />
        </div>
    </div>

    <div class="row">
        <label for="fabricacao" class="col-sm-2 col-form-label text-right">Fabricacao>:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  id="fabricacao" name="fabricacao" value="@cervejas.Fabricacao" />
        </div>
    </div>

    <div class="row">
        <label for="ano" class="col-sm-2 col-form-label text-right">Ano >:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  id="ano" name="ano" value="@cervejas.Ano" />
        </div>
    </div>

        <div class="row">
            <label for="cor" class="col-sm-2 col-form-label text-right">Cor>:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="cor" name="cor" value="@cervejas.Cor" />
            </div>
        </div>

        <div class="row">
            <label for="embalagem" class="col-sm-2 col-form-label text-right">Embalagem>:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="embalagem" name="embalagem" value="@cervejas.Embalagem" />
            </div>
        </div>

        <div class="row">
            <label for="alcoolica" class="col-sm-2 col-form-label text-right">Alcoolica>:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="alcoolica" name="alcoolica" value="@cervejas.Alcoolica" />
            </div>
        </div>


        <div class="row">
            <label for="valor" class="col-sm-2 col-form-label text-right">Valor>:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="valor" name="valor" value="@cervejas.Valor" />
            </div>
        </div>

        <div class="row">
            <label for="ativo" class="col-sm-2 col-form-label text-right">Ativo>:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="ativo" name="ativo" value="@cervejas.Ativo" />
            </div>
        </div>


        <br />
        <div class="button">

            <button type="submit">Salvar</button>

        </div>

</form>

